
## mac osx ##
.DS_Store

## npm ##
node_modules/
package-lock.json

## webpack ##
webpack.config.js

## compiled files ##
public/bundle.js

## jest output ##
coverage/

##server tests ##
server/__tests__/



