#carousel h1 {
	font-family: 'Roboto Condensed';
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	margin-bottom: 5px;
	padding: 0px 20px;
}

#carousel #outer-wrapper {
	display: block;
	width: 100%;
	height: 285px;
}

#carousel #inner-wrapper {
	display: inline-block;
	overflow: hidden;
	position: relative;
	left: calc(50% - 404px);
	max-height: 283px;
	width: 808px;
}

#carousel i.material-icons {
	color: #525252;
}

#carousel button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

#carousel button:focus {
  outline: none;
}

#carousel button.prev {
	width: 20px;
	height: 20px;
	position: absolute;
	left: calc(50% - 404px - 60px);
	padding: calc(142px - 30px) 30px calc(142px + 29px) 20px;
}

#carousel button.prev:hover i {
	color: #d3d3d3;
}

#carousel button.next {
	width: 20px;
	height: 20px;
	position: absolute;
	left: calc(50% + 404px);
	padding: calc(142px - 30px) 30px calc(142px + 29px) 20px;
}

#carousel button.next:hover i {
	color: #d3d3d3;
}

#carousel i.material-icons.prev, i.material-icons.next {
	font-size: 20px;
	transition: color 0.5s;
}

#carousel button.inviz {
	transition: opactity 1s;
	opacity: 0;
	pointer-events: none;
}

@media all and (max-width: 960px) {

	#carousel #outer-wrapper {
		height: 574px;
	}

	#carousel #inner-wrapper {
		left: calc(50% - 202px);
		max-height: 570px;
		width: 404px;
	}

	#carousel button.prev {
		left: calc(50% - 202px - 60px);
		padding: calc(284px - 30px) 30px calc(284px + 29px) 20px;
	}

	#carousel button.next {
		left: calc(50% + 202px);
		padding: calc(284px - 30px) 30px calc(284px + 29px) 20px;
	}
}

@media all and (max-width: 510px) {

	#carousel h1 {
		text-align: left;
	}

	#carousel button.prev, button.next {
		display: none;
	}

	#carousel #outer-wrapper {
		height: 374px;
		max-width: 100vw;
		overflow-x: auto;
	}

	#carousel #inner-wrapper {
		left: 8px;
		max-height: 374px;
		width: 3228px;
	}
	
}

